# 📄 Документация
**/*.md

# 🔐 Переменные окружения
**/.env

# ⚙️ Кэш и временные файлы
.cache
*.tsbuildinfo

# 🗂️ Node.js зависимости и сборки
node_modules
packages/**/node_modules
packages/**/dist
packages/**/.turbo

# 🧪 Тесты
packages/**/*.test.*
packages/cli/dist/**/e2e.*

# 🐳 Docker файлы, которые не нужны внутри контейнера
docker/compose
docker/**/Dockerfile

# 🧠 Инфраструктурные файлы
.git
.github
!.github/scripts

# 🧠 IDE и окружения
.vscode
cypress
test-workflows

# 🛠️ Dev-пакеты и сборки
packages/node-dev
