# === Сборочные артефакты ===
dist/
!dist/**/*.d.ts        # Оставить типы, если они нужны для публикации
!dist/**/*.js          # Оставить js, если это конечный билд
dist/test              # Исключить тесты из dist
dist/**/*.js.map       # Исключить sourcemaps

# === Служебные файлы macOS ===
.DS_Store

# === Локальные переменные окружения ===
.env.local
.env.*.local

# === Логи ===
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# === Папки и файлы редакторов ===
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Конфигурационные файлы, не нужные в npm-пакете ===
.editorconfig
.eslintrc.js
tsconfig.json
tsconfig.*.json
*.tsbuildinfo

# === Кэш и мета-файлы монореп ===
.turbo/
.pnpm-debug.log*
