# 📹 Видео записи тестов (Cypress)
videos/

# 📸 Скриншоты, создаваемые при падении тестов
screenshots/

# ⬇️ Загружаемые файлы, сохраняемые через cy.downloadFile или blob-объекты
downloads/

# ⚙️ Локальный кэш Cypress (можно добавить при необходимости)
# .cypress-cache/
